/*For this project I worked on the basis of how things look on 980, 768 and 640 screens. 
I did not test for higher or lower resolutions*/

/*I put all design elements here*/
* {
    box-sizing: border-box;
  }

body {
    width: 980px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(images/beanstalk.png);
    color: #777;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.main-navigation{
    border-bottom: 3px solid #cccccc;
    background-color: #fff;
}
.navbar-logo {
    background-color: #4aaaa5;
    color: #fff;
}

.bg-light {
    background-color: #fff!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #777;
}
.second-item {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.main-content{
    border: 2px solid #ccc;
    background-color: #fff;
}


.main-content-header {
    border-bottom: 3px solid #ccc;
    color: #4aaaa5;
}

.btn-primary {
    background-color: #4aaaa5;
    border-color:  #4aaaa5;
}

.btn {
    border-radius:0; /*making it square*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #4aaaa5;
    border-color:  #4aaaa5;

}

.footer-content {
    background-color:#666666;
    color: #fff;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 12px;
}

/*I put all placement elements here*/

/* 980 screens */
@media (min-width: 980px) {

    .main-navigation, .footer-content{
        max-width: 980px;
        margin-left: 0;
        margin-right: 0;
        padding: 0 150px;

    }
    .navbar-expand-md{
        min-width: 100%;
    }

    .main-content {
        width: 720px;
    }

    .col-md-6 {
        padding-left:0;
        padding-right:0;

    }
    
    .navbar-logo {
        padding: 30px 20px 30px 20px;
        margin-top: -5px;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
    }

    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    
    .main-content{
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .main-content .row .col-md-8{ 
        border-bottom: 3px solid #ccc;
    }
    .main-content-copy {
        margin-top: 50px;
    }
    
    .main-content-header {
        width: 250px;
        margin: 20px 0 20px 0;
    }
    
    .main-content-form {
        padding-left: 50px;
    }

    .footer-content {
        margin-top: 50px;
        padding: 20px 0 20px 0;
    }
    
}

/* 768 screens */
@media (max-width: 768px) {

    .main-navigation, .footer-content{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 150px;

    }
    .navbar-expand-md{
        min-width: 100%;
    }

    .main-content {
        width: 720px;
    }

    .col-md-6 {
        padding-left:0;
        padding-right:0;

    }
    
    .navbar-logo {
        padding: 30px 20px 30px 20px;
        margin-top: -5px;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
    }

    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    
    .main-content{
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .main-content .row .col-md-8{ 
        border-bottom: 3px solid #ccc;
    }
    .main-content-copy {
        margin-top: 50px;
    }
    
    .main-content-header {
        width: 250px;
        margin: 20px 0 20px 0;
    }
    .footer-content {
        margin-top: 50px;
        padding: 20px 0 20px 0;
    }
    
}

/* 640 screens */
@media (max-width: 640px) {

    body {
        width: 100%;
    }
    
    p {
        margin-top:10px;
    }

    .main-navigation.row {
        margin: 0;
    }

    .main-navigation, .footer-content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;

    }
    .navbar-expand-md {
        min-width: 100%;
        padding: 0 40px;

    }

    .main-content {
        width: 600px;
        margin-top: 50px;
        margin-left: 50px;
        padding-bottom: 50px;
    }

    .container.main-navigation .row .col-md-6 {
        padding-left:0;
        padding-right:0;
        margin-bottom: -40px;
    }
    
    .navbar-logo {
        padding: 30px 0px 30px 0px;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding: 0 150px 10px 150px;
        border-bottom: 3px solid #ccc; /*UGH I HAD TO BRING THE BORDER HERE, AS THE ROW WOULDN'T HAVE IT UGH*/
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .collapse .navbar-collapse {
        display: block!important;
    }
    .collapse:not(.show) {
        display: block!important;
    }
    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }

    .main-content-header {
        width: 250px;
        margin: 20px 0 20px 0;
    }

    .col-md-6 > p {
        width: 97%;
        padding: 0 18px;
    }

    .main-content .row .col-md-10{ 
        width: 90%;
        margin-left: 5%;
    }
    .main-content-copy {
        margin-top: 20px;
        padding-left: 5%
    }

    .image-main {
        width: 90%;
        position: relative;
        left: 2px;
    }


    .footer-content {
        margin-top: 50px;
        padding: 20px 0 20px 0;
    }
    
}
