/*For this project I worked on the basis of how things look on 980, 768 and 640 screens. 
I did not test for higher or lower resolutions*/

/*I put all design elements here*/
* {
    box-sizing: border-box;
  }

body {
    width: 980px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(images/beanstalk.png);
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.col-md-5.portfolio-images >h4 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fff;
    font-size: 24px;
    text-align:center;
}

.main-navigation{
    border-bottom: 3px solid #cccccc;
    background-color: #fff;
}
.navbar-logo {
    background-color: #4aaaa5;
    color: #fff;
}

.bg-light {
    background-color: #fff!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #777;
}
.second-item {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.main-content{
    border: 2px solid #ccc;
    background-color: #fff;
}


.main-content-header {
    border-bottom: 3px solid #ccc;
    color: #4aaaa5;
}

.btn-primary {
    background-color: #4aaaa5;
    border-color:  #4aaaa5;
}

.btn {
    border-radius:0; /*making it square*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #4aaaa5;
    border-color:  #4aaaa5;

}

.footer-content {
    background-color:#666666;
    color: #fff;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 12px;
}

/*I put all placement elements here*/
/*980px+ screens*/

@media (min-width: 980px) {

    .main-navigation, .footer-content{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 10%;

    }
    .navbar-expand-md{
        min-width: 100%;
    }

    .main-content {
        width: 80%;
    }

    .col-md-6 {
        padding-left:0;
        padding-right:0;

    }
    
    .navbar-logo {
        padding: 30px 20px 30px 20px;
        margin-top: -5px;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
    }

    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    
    .main-content{
        margin-top: 5%;
        padding-bottom: 5%;
    }

    .main-content-copy {
        margin-top: 50px;
    }
    
    .main-content-header {
        width: 250px;
        margin: 20px 0 0 0;
    }
    .main-content-form {
        margin-top: 0px;
    }

    .portfolio-images {
        margin-top: 3%;
        margin-left: 3%;
        padding: 2%;
        max-width: 80%;
    }
    .col-md-5.portfolio-images >h4 {
        position: relative;
        top: -22%;
        padding: 6%;
    }

    .footer-content {
        margin-top: 50px;
        padding: 20px 0 20px 0;
    }
    
}

/* 980 screens */
@media (max-width: 980px) and (min-width: 769px) {

    .main-navigation, .footer-content{
        max-width: 100%;
        margin-right: 0;
        padding: 0 10%;

    }
    .navbar-expand-md{
        min-width: 100%;
        margin-top: 5%;
    }

    .main-content {
        width: 90%;
    }

    .col-md-6 {
        padding-left:0;
        padding-right:0;

    }
    
    .navbar-logo {
        padding: 5% 5%;
        margin-top: -1%;
    }

    .menu-items {
        text-align: center;
    }

    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    
    .main-content{
        margin-top: 5%;
        padding-bottom: 5%;
    }
    
    .main-content-form {
       margin-top: 0px;
    }
    
    .portfolio-images {
        margin-top: 3%;
        margin-left: 3%;
        padding: 2%;
        max-width: 80%;
    }

    .col-md-5.portfolio-images >h4 {
        position: relative;
        top: -22%;
        padding: 6%;
    }

    .footer-content {
        margin-top: 50px;
        padding: 20px 0 20px 0;
    }
    
}

/* 768 screens */
@media (max-width: 768px) and (min-width: 641px) {

    .main-navigation, .footer-content{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 10%;

    }
    .navbar-expand-md{
        min-width: 100%;
    }

    .main-content {
        width: 80%;
        margin-left: 5%;
    }

    .container.main-navigation .row .col-md-6, .container.main-navigation .row {
        padding-left:0;
        padding-right:0;

    }
    
    .navbar-logo {
        padding: 7% 7%;
        margin-top: -5px;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
    }

    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    

    .main-content{
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .main-content-copy {
        margin-top: 50px;
    }
    
    .main-content-header {
        width: 100%;
        margin: 5% 2%;
        padding-bottom: 2%;
    }

    .main-content-form {
        margin-top: -20px;
        width: 100%;
    }

    .portfolio-images {
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: -5%;
        padding: 1.5%;
        max-width: 80%;
    }
    .col-md-5.portfolio-images >h4 {
        position: relative;
        top: -22%;
        padding: 6%;
    }

    .footer-content {
        margin-top: 5%;
        padding: 5% 0;
        margin-left: 0;
    }
    
}

/* 640 screens */
@media (min-width: 640px) and (max-width:767px){

    body {
        width: 100%;
    }
    
    p {
        margin-top: 2%;
    }

    .main-navigation.row {
        margin: 0;
    }

    .main-navigation, .footer-content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;

    }
    .navbar-expand-md {
        min-width: 100%;
        padding: 2% 5% 2% 25%;
        margin-bottom: 5%;
        border-bottom: 3px solid #ccc;
    }

    .main-content {
        max-width: 80%;
        margin-left: 5%;
        margin-top: 10%;
        padding-bottom: 10%;
    }

    .container.main-navigation .row .col-md-6 {
        padding-left:0;
        padding-right:0;
        margin-bottom: -10%;
    }
    
    .navbar-logo {
        padding: 7% 0 7% 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .collapse .navbar-collapse {
        display: block!important;
    }
    .collapse:not(.show) {
        display: block!important;
    }
    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }

    .main-content-header {
        width: 250px;
        margin: 20px 0 20px 0;
    }

    .col-md-6 > p {
        width: 97%;
        padding: 0 5%;
    }

    .main-content .row .col-md-10{ 
        width: 90%;
        margin-left: 5%;
    }
    .main-content-copy {
        margin-top: 20px;
        padding-left: 5%
    }

    .image-main {
        width: 90%;
        position: relative;
        left: 1%;
    }

    .portfolio-images {
        margin-top: 3%;
        margin-left: 3%;
        padding: 2%;
        max-width: 100%;
    }

    .col-md-5.portfolio-images >h4 {
        position: relative;
        top: -20%;
        left: 3%;
        padding: 4%;
        width: 89%;
    }

    .col-md-5.portfolio-images >img {
        width: 95%;
        padding: 3%;
    }



    .footer-content {
        margin-top: 10%;
        padding: 5% 0%;
    }
    
}

/*639 and below screens*/
@media (min-width: 320px) and (max-width:639px){

    body {
        width: 100%;
    }
    
    p {
        margin-top: 2%;
    }

    .main-navigation.row {
        margin: 0;
    }

    .main-navigation, .footer-content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;

    }
    .navbar-expand-md {
        min-width: 100%;
        padding:2% 0% 2% 12%;
        margin-bottom: 5%;
        border-bottom: 3px solid #ccc;
        font-size: 30%;
    }

    .main-content {
        max-width: 80%;
        margin-left: 5%;
        margin-top: 10%;
        padding-bottom: 10%;
    }

    .container.main-navigation .row .col-md-6 {
        padding-left:0;
        padding-right:0;
        margin-bottom: -10%;
    }
    
    .navbar-logo {
        padding: 7% 0 7% 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .menu-items {
        margin-top:10px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .collapse .navbar-collapse {
        display: block!important;
    }
    .collapse:not(.show) {
        display: block!important;
    }
    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }

    .main-content-header {
        width: 250px;
        margin: 20px 0 20px 0;
    }

    .col-md-6 > p {
        width: 97%;
        padding: 0 5%;
    }

    .main-content .row .col-md-10{ 
        width: 90%;
        margin-left: 5%;
    }
    .main-content-copy {
        margin-top: 20px;
        padding-left: 5%
    }

    .image-main {
        width: 90%;
        position: relative;
        left: 1%;
    }

    .portfolio-images {
        margin-top: 3%;
        margin-left: 3%;
        padding: 2%;
        max-width: 100%;
    }

    .col-md-5.portfolio-images >h4 {
        position: relative;
        top: -20%;
        left: 3%;
        padding: 4%;
        width: 89%;
    }

    .col-md-5.portfolio-images >img {
        width: 95%;
        padding: 3%;
    }



    .footer-content {
        margin-top: 10%;
        padding: 5% 0%;
    }
    
}
